	<div class="jumbotron">
		<div class="container">
			
			<div class="col-md-5">
					<%= image_tag(@images[0], class: 'picture') %>
			</div>		
			<div class="col-md-2">
			</div>
			<div class="col-md-5">
					<%= image_tag(@images[1], class: 'picture') %>
			</div>
		</div>

	</div>

<div class="container">
	<div class="col-md-4 col-md-offset-4"> 
		<ul id="bucket">
			<li>hello</li>
		</ul>
	</div>
</div>


<button class="btn" onclick="test();"> Press me</button>
<!-- 
<div class="grid">
	<ul class="cards">
		<li class="grid-item">first</li>
		<li class="grid-item">second</li>
		<li class="grid-item">third</li>
		<li class="grid-item">second</li>
		<li class="grid-item">fifth</li>
		<li class="grid-item">first</li>
	</ul>

</div>
 -->