<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>


<div class="jumbotron text-center">
	<h1>Welcome to Gif</h1>
</div>	

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div id="image1">	
					<!-- FIRST IMAGE -->
					<div class="image-container">
						<div class="panel panel-default">
							<%= image_tag(@images[0], class: 'picture center-block') %>
						</div>
						<div class="panel panel-footer">
							<div class="row scoreboard">
								Current Score: <span class="score"> 0 </span>
							</div>
						</div>
					</div>							
				</div>				
			</div>

			<div class="col-md-2">
			</div>

			<div class="col-md-5">
				<div id="image2">
				<!-- SECOND IMAGE -->
					<div class="image-container">
						<div class="panel panel-default">
							<%= image_tag(@images[1], class: 'picture center-block') %>
						</div>
						<div class="panel panel-footer">
							<div class="row scores scoreboard">
								Current Score: <span class="score"> 0 </span>
							</div>
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
</div>

<!-- NEW PICTURES WILL ENTER HERE -->
<div class="container">
	<div id="bucket">
	</div>
</div>