	<div class="jumbotron">
		<div class="container">
			<div class="row">
					<div class="col-md-5 image" id="image1">
						<!-- FIRST IMAGE -->

						<div class="panel panel-default">
							<%= image_tag(@images[0], class: 'picture') %>
						</div>
						<div class="panel panel-footer">
							score
						</div>
					</div>		
					<div class="col-md-2">
					</div>
					<div class="col-md-5 image" id="image2">
						<!-- SECOND IMAGE -->

						<div class="panel panel-default">
							<%= image_tag(@images[1], class: 'picture') %>
						</div>
						<div class="panel panel-footer">
							score
						</div>
					</div>		
			</div>

		</div>

	</div>

<div class="container">
	<div class="row text-center">
		<div id="bucket">
			<!-- NEW PICTURES WILL ENTER HERE -->
		</div>
	</div>

</div>


<button class="btn" onclick="test();"> Press me</button>
<!-- 
<div class="grid">
	<ul class="cards">
		<li class="grid-item">first</li>
		<li class="grid-item">second</li>
		<li class="grid-item">third</li>
		<li class="grid-item">second</li>
		<li class="grid-item">fifth</li>
		<li class="grid-item">first</li>
	</ul>

</div>
 -->