
<div class="grid">
	<ul class="cards">
		<li class="grid-item">first</li>
		<li class="grid-item">second</li>
		<li class="grid-item">third</li>
		<li class="grid-item">second</li>
		<li class="grid-item">fifth</li>
		<li class="grid-item">first</li>
	</ul>

</div>
