<div class="col-md-5 image" id="new_image">
	<div class="panel panel-default">
		<%= image_tag(@images[0], class: 'picture') %>
	</div>
	<div class="panel panel-footer">
		score
	</div>
</div>		

<div id="placeholder">
	
</div>

<button onclick="test();"> Test Run!</button>