<div id="new-image">
	<div class="image-container">
		<div class="panel panel-default" >
			<%= image_tag(@images[0], class: 'picture center-block') %>
		</div>
		<div class="panel panel-footer">
			<div class="row scoreboard">
				Current Score: <span class="score"> 0 </span>
			</div>
			
		</div>
	</div>	
</div>

	
<div id="placeholder">

</div>

<button onclick="test();"> Test Run!</button>