// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: 'Noto Serif', serif;
}

.scores{
	font-weight: bold;
	font-size: 1.5em;
}

.scoreboard{
	text-align: right;
}
.image-container{
	font-family: 'Noto Serif', serif;
	font-size: 1.13em;
	text-align: center;
}

.jumbotron {
}

.image{
}

#picture1 {

}

#picture2 {

}

#score1{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

#score2{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

#bucket {
	display: block;
    margin-left: auto;
    margin-right: auto;
}


/* 
.isotope {
}

.cards {
	list-style-type: none;
	height: 500px;
}

#first-selection{ 
	font-weight: bold;
	border-style: solid;
	border-color: #FF0000;
}

#second-selection{ 
	font-weight: bold;
	border-style: solid;
	border-color: #0000FF;
}

#results{
	font-weight: bold;
	font-size: 150%;
}

.grid-item { 
  float: left;
  width: 25%;
  height: 100%;
  background: #e6e5e4;
  border: 2px solid #b6b5b4;
} */